{% extends 'template.html' %}
{% block body %}
    <h1>Welkom bij KAES, {{ g.username }}</h1>

    {% if permission_required('manage_users') %}
        <a href="{{ url_for('user_management') }}">User Management</a>
    {% endif %}
    {% if permission_required('admin') %}
    <a href="{{ url_for('permission_management') }}">Permission Management</a>
    {% endif %}

    {% if permission_required_or('manage_exams', 'admin') %}
    <a href="{{ url_for('exam_management') }}">Exam Management</a>
    {% endif %}
    <a href="{{ url_for('logout') }}">Logout</a>
{% endblock body %}