{% extends 'template.html' %}
{% block body %}
<div class="auth-container">
    <h1>KAES Portal</h1>
    <form method="POST" action="{{ url_for('log_in') }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control", placeholder="Enter username") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="Enter password") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock body %}